.topLeft{
    width:14%;
    height:200px;
    position:relative;
    background:$sec;

    img{
        position:absolute;
        bottom:-50px;
        right:0;
        width:100%;
    }

    div{
        position:absolute;
        width:75px;
        height:75px;
        background:$ter;
        bottom:0;
        right:0;
        display:flex;
        justify-content:center;
        align-items:center;

        i{
            color:$prim;
            font-size:40px;
        }
    }
}