.topRight{
    width:86%;
    height:200px;
    background:$prim;
    padding:25px 0 0 50px;
    box-sizing:border-box;
    overflow:hidden;
    position:relative;

    i.fa-record-vinyl{
        position:absolute;
        bottom:-180px;
        right:-220px;
        font-size:400px;
        color:$sec;
    }

    i.fa-star{
        position:absolute;
        font-size:200px;
        color:white;
        z-index:0;
        top:-75px;
        left:-15px;
        transform:rotate(10deg);
        opacity:0.5;
    }

    p.decoration{
        position:absolute;
        font-size:115px;
        font-weight:$extra;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color:white;
        color:transparent;
        text-transform:uppercase;
        opacity:0.3;

        &.decoTop{
            top:-50px;
            left:500px;
        }

        &.decoBottom{
            bottom:-30px;
            right:300px;
        }
    }
}