// Couleurs 
$prim: rgb(104, 160, 255);
$sec: rgb(9, 23, 47);
$ter: #d7e4fb;

// Typo 
$title: 'Raleway', sans-serif;
$text: 'Roboto', sans-serif;
$story: 'Noto Serif', serif;

$extra: 900;
$bold : 700;
$reg : 500;
$light : 300;
$thin: 100;

$XL : 60px;
$L : 30px;
$M : 16px;